<%- include ('partials/header.ejs') %>-
        <link rel="stylesheet" type="text/css" href="/Stylesheet/newUser.css">
                <div class="userRegister">
                  <!-- <img src="https://www.bw.edu/Assets/uploads/images/03mccarrellheadshot.jpg" class="dummy"> -->
                  
                  <h1>Sign Up</h1>
                  <form action="/userRegister" method="POST">
                    <label><i class="fa fa-user" aria-hidden="true"style="margin-right: 3px;"></i>Full Name</label>
                      <input type="text" name="name" placeholder="Enter Your Name" required>
                      <label><i class="fa fa-user-plus" aria-hidden="true"style="margin-right: 3px;"></i>User-Id</label>
                      <input type="text" name="username" placeholder="Enter Userid" required>
                      <label><i class="fa fa-envelope" aria-hidden="true"style="margin-right: 3px;"></i>Email-Id</label>
                      <input type="email" name="email" placeholder="Enter Your Email-Id" required>
                      <label><i class="fa fa-unlock-alt" aria-hidden="true"style="margin-right: 3px;"></i>Password</label>
                      <input type="password" name="password" placeholder="Enter Your Password" required>
                      <input type="submit" name="SignUp" value="SignUp">
                      
                      <a href="/login">Already have an account</a>
                      <div class="social">
                            <a class="btn" href="https://www.facebook.com/swarnim.anand.9"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a class="btn" href="https://www.twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i> </a>
                            <a class="btn" href="https://www.google.com"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a class="btn" href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </div>
                  </form>
              </div>
              
  <%- include ('partials/footer.ejs') %>-